<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<link rel="apple-touch-icon" sizes="180x180" href="/static/media/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/media/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/media/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">

<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">