<footer>
    <a href="https://twitter.com/hybridcattt" title="Marina on Twitter" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/twitter.svg"></a>
    <a href="https://github.com/hybridcattt" title="Marina on GitHub" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/github.svg"></a>
    <a href="https://medium.com/@hybridcattt" title="Marina on Medium" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/medium.svg"></a>
    <a href="https://speakerdeck.com/hybridcattt/" title="Marina on Speaker Deck" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/speakerdeck.svg"></a>
    <a href="https://stackoverflow.com/users/2153762/hybridcattt" title="Marina on Stack Overflow" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/stackoverflow.svg"></a>
    <a href="https://forums.swift.org/u/hybridcattt/summary" title="Marina on Swift Forums" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/swift.svg"></a>
    <a href="https://www.meetup.com/members/184073817/" title="Marina on Meetup" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/meetup.svg"></a>
    <a href="https://www.linkedin.com/in/hybridcattt" title="Marina on LinkedIn" target="_blank"
        onclick='handleOutboundLinkClick(this)'><img src="/static/media/linkedin.svg"></a>
</footer>