<footer>
  <div class="footer-row">
    <a href="{{ site.custom_data.twitter_link }}" title="Marina on Twitter">
      <div class="footer_icon icon-twitter"></div>
    </a>
    <a href="https://github.com/hybridcattt" title="Marina on GitHub">
      <div class="footer_icon icon-github"></div>
    </a>
    <a href="https://medium.com/@hybridcattt" title="Marina on Medium">
      <div class="footer_icon icon-medium"></div>
    </a>
    <a href="https://speakerdeck.com/hybridcattt/" title="Marina on Speaker Deck">
      <div class="footer_icon icon-speakerdeck"></div>
    </a>
    <a href="https://stackoverflow.com/users/2153762/hybridcattt" title="Marina on Stack Overflow">
      <div class="footer_icon icon-stackoverflow"></div>
    </a>
    <a href="https://forums.swift.org/u/hybridcattt/summary" title="Marina on Swift Forums">
      <div class="footer_icon icon-swift"></div>
    </a>
    <a href="https://www.meetup.com/members/184073817/" title="Marina on Meetup">
      <div class="footer_icon icon-meetup"></div>
    </a>
    <a href="https://www.linkedin.com/in/hybridcattt" title="Marina on LinkedIn">
      <div class="footer_icon icon-linkedin"></div>
    </a>
    <a href="https://www.buymeacoffee.com/hybridcattt" title="Support Marina on Buy Me A Coffee">
      <div class="footer_icon icon-bmac"></div>
    </a>
  </div>
  <p class="subtle-text">
    <a href="/">Home</a>
    |
    <a href="/blog/">Blog</a>
    |
    <a href="/about/">About</a>
    | Also check out
    <a href="https://itsxcode.app">itsxcode.app</a>
    <br>
    © 2020
    <a href="/">Marina Gornostaeva</a>
    | This site does not use cookies
  </p>
</footer>