<footer>
  <a href="{{ site.custom_data.twitter_link }}" title="Marina on Twitter" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-twitter"></div>
  </a>
  <a href="https://github.com/hybridcattt" title="Marina on GitHub" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-github"></div>
  </a>
  <a href="https://medium.com/@hybridcattt" title="Marina on Medium" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-medium"></div>
  </a>
  <a href="https://speakerdeck.com/hybridcattt/" title="Marina on Speaker Deck" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-speakerdeck"></div>
  </a>
  <a href="https://stackoverflow.com/users/2153762/hybridcattt" title="Marina on Stack Overflow" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-stackoverflow"></div>
  </a>
  <a href="https://forums.swift.org/u/hybridcattt/summary" title="Marina on Swift Forums" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-swift"></div>
  </a>
  <a href="https://www.meetup.com/members/184073817/" title="Marina on Meetup" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-meetup"></div>
  </a>
  <a href="https://www.linkedin.com/in/hybridcattt" title="Marina on LinkedIn" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-linkedin"></div>
  </a>
  <a href="https://www.buymeacoffee.com/hybridcattt" title="Support Marina on Buy Me A Coffee" target="_blank"
    onclick='handleOutboundLinkClick(this)'>
    <div class="footer_icon icon-bmac"></div>
  </a>
</footer>