footer {
	bottom: 35px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
}

.footer_icon {
    width: 2rem;
	height: 2rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: round;
    -webkit-mask-repeat: round;

    background-color: $text-color;
}

.footer_icon:hover,
.footer_icon:focus {
  background: $brand-color;
}

.icon-twitter {
    -webkit-mask-image: url(/static/media/twitter.svg);
    mask-image: url(/static/media/twitter.svg);
}
.icon-github {
    -webkit-mask-image: url(/static/media/github.svg);
    mask-image: url(/static/media/github.svg);
}
.icon-medium {
    -webkit-mask-image: url(/static/media/medium.svg);
    mask-image: url(/static/media/medium.svg);
}
.icon-stackoverflow {
    -webkit-mask-image: url(/static/media/stackoverflow.svg);
    mask-image: url(/static/media/stackoverflow.svg);
}
.icon-speakerdeck {
    -webkit-mask-image: url(/static/media/speakerdeck.svg);
    mask-image: url(/static/media/speakerdeck.svg);
}
.icon-swift {
    -webkit-mask-image: url(/static/media/swift.svg);
    mask-image: url(/static/media/swift.svg);
}
.icon-meetup {
    -webkit-mask-image: url(/static/media/meetup.svg);
    mask-image: url(/static/media/meetup.svg);
}
.icon-linkedin {
    -webkit-mask-image: url(/static/media/linkedin.svg);
    mask-image: url(/static/media/linkedin.svg);
}