/***** General Styles *****/
html, body {
	font-size: 16px;
	line-height: 1;
	font-style: normal;
	font-weight: 400;
    height: 100%;
	background-color: #1E2028;
	padding: 0;
	margin: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
}

/***** Styles *****/
main.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.container section.content h1 {
	color: #00A0BE;
	font-size: 4rem;
	padding: 0;
	-webkit-margin-after: 0.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	text-align: center;
}
main.container section.content p {
	color: #41B645;
	font-size: 0.9rem;
	line-height: 0;
	letter-spacing: 0.135rem;
	text-align: center;
	font-family: "Menlo", monospace;
	font-style: normal;
	font-weight: 400;
}

/***** Footer *****/
footer {
	position: absolute;
	bottom: 35px;
	text-align: center;
	display: block;
	float: left;
	width: 100%;
}
footer a {
	padding: 0 0.5rem;
	transition: all 0.5s ease;
}
footer a img {
	width: 2rem;
	height: 2rem;
}

/***** Responsiveness *****/
@media all and (max-width: 740px) {
	html, body {
		font-size: 10px;
	}
	main.container section.content a {
		margin: 40px auto;
		display: block;
		padding: 1.35rem 1.5rem;
		font-size: 1.4rem;
	}
}
@media all and (max-width: 600px) {
	html, body {
		font-size: 9px;
	}
	main.container section.content a {
		padding: 1.45rem 1.5rem;
		font-size: 1.5rem;
	}
	footer a {
		font-size: 28px;
	}
}
@media all and (max-width: 480px) {
	html, body {
		font-size: 8px;
	}
	main.container section.content a {
		padding: 1.55rem 1.5rem;
		font-size: 1.6rem;
	}
	footer a {
		font-size: 25px;
	}
}
