/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 3;
  
  // Positioning context for the mobile navigation icon
  position: relative;

  display: flex;
  
  .wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $on-medium) {
    .wrapper {
      flex-basis: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.avatar {
  position: relative;
  
  border-radius: 50%;
  border: solid ($spacing-unit * 0.15) $menu-background-color;

  box-shadow: 0px 0px 5px $menu-shadow-color;
  
  width: $spacing-unit * 1.7;
  height: $spacing-unit * 1.7;

  min-width: $spacing-unit * 1.7;
}

.site-nav {
  position: absolute;
  top: $spacing-unit; // hacky value

  right: $page-padding;

  background-color: $menu-background-color;
  border-radius: 5px;
  box-shadow: 0px 0px 5px $menu-shadow-color;
  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .trigger {
    // display: flex; // see below - none or flex depending if input is checked or not
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: auto;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $text-color;
    }
  }

  label[for="nav-trigger"] {
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    display: none;
  }

  input:checked ~ .trigger {
    display: flex;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    @include relative-font-size(1.3);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;

    text-decoration: none;

    border-bottom: solid;
    border-color: transparent;
    border-width: 4px;

    @include hover {
      border-bottom-color: $brand-color;
    }

    &.active {
      border-bottom-color: $brand-color;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: initial;
    top: initial;
    right: initial;

    box-shadow: none;
    background-color: inherit;

    flex-direction: row;
    align-items: center;

    .trigger {
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-items: left;
      justify-content: left;
      
      overflow: hidden;
    }

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: flex;
    }
 
    .page-link {
      display: inline;
      
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;

      // to achieve vertical centering
      border-top: solid;
      border-top-color: transparent;
      border-width: 4px;

      &:not(:last-child) {
        margin-right: 30px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 $page-padding;

    &:first-child {
      padding-right: $page-padding;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $page-padding;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-content-100 {
  display: flex;
  .wrapper {
    min-height: 100%;
    flex-grow: 1;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > section {
    padding-top: $spacing-unit * 0.3;
    padding-bottom: $spacing-unit * 0.3;
  }
}

.post-meta {
  font-size: $small-font-size;
  // color: $brand-color;
  margin-bottom: $spacing-unit * 0.2;

  li {
    display: inline-block;

    &:first-child {
      padding: 0 7px 0 0;
    }

    &:not(.post-tags-container) {
      padding: 0;

      &:not(:last-child)  {
        &::after {
          content: "•";
          padding: 0 7px 0 7px;
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.post-title {
  @include relative-font-size(2.5);
  letter-spacing: -1px;
  line-height: 1.15;
  color: $text-color;
  font-weight: bold;

  @include hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.post-tag {
  background-color: $text-color;
  color: $background-color;

  border-radius: 4px;
  padding: 2px 6px; 
  display: inline-block;

  @include relative-font-size(0.65);
  font-weight: 500;
}

.post-tags-container > .post-tag {
  &:not(:last-child) {
    margin-right: 3px;
  }
}

a.post-link {
  color: $text-color;

  @include hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

a.post-read-more {
  color: $text-color;
  
  border-radius: 0.3em;
  border: 1px solid;
  margin: 0.35em 0;
  padding: 0.5em 0.75em; 
  display: inline-block;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-content:not(.toc-container) {
  h1 { 
    line-height: 1.15;
    margin-top: $spacing-unit * 1.7;
    margin-bottom: $spacing-unit * 0.6;
  }
  
  h2, h3 {
    line-height: 1.15;
    margin-top: $spacing-unit * 1.2;
    margin-bottom: $spacing-unit * 0.9;
  }
  
  h3 {
    line-height: 1.15;
    margin-top: $spacing-unit * 1.2;
    margin-bottom: $spacing-unit * 0.5;
  }

  h4, h5, h6 { 
    line-height: 1.15;
    margin-top: $spacing-unit * 1;
    margin-bottom: $spacing-unit / 2;
  }
  
  h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    
    // font-weight: bold;
    
    // &:hover {
    //   color: $brand-color;
    // }
      
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }

  h2 {
    @include relative-font-size(1.9);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover .toc-anchor-icon {
    display: inline-flex;
  }
}

.toc-anchor-icon {
  margin-left: 0.2em;
  margin-top: 0.2em;
  vertical-align: top; 
  display: none; // toggled on hover
  @media (hover: none) {
    display: inline-flex;
  }
}


.toc-container {
  background-color: $menu-background-color;
  border-radius: 5px;
  box-shadow: 0px 0px 5px $menu-shadow-color;

  margin: $spacing-unit 0;
  padding: $spacing-unit/2 $spacing-unit/2;

  @media screen and (min-width: $on-large) {
    padding: $spacing-unit/2 $spacing-unit;
  }
    
  p {
    font-weight: 500;
    @include relative-font-size(1.125);
    
    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }
}
.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
