/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 3;
  
  // Positioning context for the mobile navigation icon
  position: relative;

  display: flex;
  
  .wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $on-medium) {
    .wrapper {
      flex-basis: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.avatar {
  position: relative;
  
  border-radius: 50%;
  border-width: 2px;
  border: solid $menu-background-color;

  box-shadow: 0px 0px 5px $menu-shadow-color;
  
  width: $spacing-unit * 1.7;
  height: auto;
}

.site-nav {
  position: absolute;
  top: $spacing-unit; // hacky value

  right: $page-padding;

  background-color: $menu-background-color;
  border-radius: 5px;
  box-shadow: 0px 0px 5px $menu-shadow-color;
  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .trigger {
    // display: flex; // see below - none or flex depending if input is checked or not
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: scroll;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $text-color;
    }
  }

  label[for="nav-trigger"] {
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    display: none;
  }

  input:checked ~ .trigger {
    display: flex;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    @include relative-font-size(1.3);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;

    text-decoration: none;

    border-bottom: solid;
    border-color: transparent;
    border-width: 4px;

    &:hover {
      border-bottom-color: $brand-color;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: initial;
    top: initial;
    right: initial;

    box-shadow: none;
    background-color: inherit;

    flex-direction: row;
    align-items: center;

    .trigger {
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-items: left;
      justify-content: left;
    }

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: flex;
    }
 
    .page-link {
      display: inline;
      
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;

      // to achieve vertical centering
      border-top: solid;
      border-top-color: transparent;
      border-width: 4px;

      &:not(:last-child) {
        margin-right: 30px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 $page-padding;

    &:first-child {
      padding-right: $page-padding;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $page-padding;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3 { margin-top: $spacing-unit * 2 }
  h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
